alembic==1.7.6.dev0
annotated-types==0.6.0
anyio==4.3.0
attrs==21.2.0
blinker==1.4
botocore==1.23.34
certifi==2020.6.20
chardet==4.0.0
click==8.1.7
colorama==0.4.4
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.17.1
exceptiongroup==1.2.1
fastapi==0.110.2
filelock==3.13.4
greenlet==1.1.2
gyp==0.1
h11==0.14.0
httplib2==0.20.2
httptools==0.6.1
idna==3.3
importlib-metadata==4.6.4
iniconfig==2.0.0
jeepney==0.7.1
jmespath==0.10.0
jsonschema==3.2.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Mako==1.1.3
MarkupSafe==2.0.1
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.0
olefile==0.46
packaging==24.1
Pillow==9.0.1
platformdirs==4.2.0
pluggy==1.5.0
psycopg2-binary==2.9.9
pyasn1==0.4.8
pydantic==2.7.0
pydantic_core==2.18.1
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
pyrsistent==0.18.1
pytest==8.2.2
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.1
python-dotenv==0.19.2
PyYAML==5.4.1
requests==2.25.1
roman==3.3
rsa==4.8
s3transfer==0.5.0
SecretStorage==3.3.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==1.4.31
starlette==0.37.2
systemd-python==234
texttable==1.6.4
tomli==2.0.1
typing_extensions==4.11.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
uvicorn==0.29.0
uvloop==0.19.0
virtualenv==20.25.3
wadllib==1.3.6
watchfiles==0.21.0
websocket-client==1.2.3
websockets==12.0
zipp==1.0.0
